# csv拼接与处理-示例1

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#处理数据" data-toc-modified-id="处理数据-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>处理数据</a></span></li><li><span><a href="#将所有的文件遍历出来" data-toc-modified-id="将所有的文件遍历出来-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>将所有的文件遍历出来</a></span></li><li><span><a href="#解决文件顺序的问题" data-toc-modified-id="解决文件顺序的问题-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>解决文件顺序的问题</a></span></li><li><span><a href="#将所有的文件读取后，按列拼接好！" data-toc-modified-id="将所有的文件读取后，按列拼接好！-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>将所有的文件读取后，按列拼接好！</a></span></li><li><span><a href="#解决时间格式问题" data-toc-modified-id="解决时间格式问题-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>解决时间格式问题</a></span></li><li><span><a href="#将边界层数据中,问题处理下" data-toc-modified-id="将边界层数据中,问题处理下-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>将边界层数据中,问题处理下</a></span></li><li><span><a href="#完成分组依据计算出来" data-toc-modified-id="完成分组依据计算出来-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>完成分组依据计算出来</a></span></li><li><span><a href="#分组求均值，并保存文件" data-toc-modified-id="分组求均值，并保存文件-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>分组求均值，并保存文件</a></span></li></ul></div>

## 处理数据

- 读取文件
- 注意时间顺序

In [1]:
import numpy as np
import pandas as pd
import os
from datetime import datetime

## 将所有的文件遍历出来

In [2]:
path = r'/Users/caizhiming/Documents/MyCode/TO_YY/BJC/'
files = os.listdir(path)
files

['info_pgraph_201801.txt',
 'info_pgraph_201803.txt',
 'info_pgraph_201802.txt',
 'info_pgraph_202102.txt',
 'info_pgraph_201609.txt',
 'info_pgraph_201812.txt',
 'info_pgraph_201806.txt',
 'info_pgraph_201807.txt',
 'info_pgraph_201608.txt',
 'info_pgraph_202103.txt',
 'info_pgraph_202101.txt',
 'info_pgraph_201805.txt',
 'info_pgraph_201811.txt',
 'info_pgraph_201810.txt',
 'info_pgraph_201804.txt',
 'info_pgraph_201903.txt',
 'info_pgraph_202007.txt',
 'info_pgraph_202012.txt',
 'info_pgraph_202006.txt',
 'info_pgraph_201902.txt',
 'info_pgraph_202010.txt',
 'info_pgraph_202004.txt',
 'info_pgraph_202005.txt',
 'info_pgraph_202011.txt',
 'info_pgraph_201901.txt',
 'info_pgraph_201905.txt',
 'info_pgraph_201911.txt',
 'info_pgraph_202001.txt',
 'info_pgraph_201910.txt',
 'info_pgraph_201904.txt',
 'info_pgraph_201709.txt',
 'info_pgraph_201912.txt',
 'info_pgraph_201906.txt',
 'info_pgraph_202002.txt',
 'info_pgraph_202003.txt',
 'info_pgraph_201708.txt',
 'info_pgraph_201711.txt',
 'info_pgraph_201705.txt',
 'info_pgraph_201506.txt',
 'info_pgraph_201512.txt',
 'info_pgraph_201704.txt',
 'info_pgraph_201710.txt',
 'info_pgraph_201706.txt',
 'info_pgraph_201712.txt',
 'info_pgraph_201909.txt',
 'info_pgraph_201510.txt',
 'info_pgraph_201511.txt',
 'info_pgraph_201505.txt',
 'info_pgraph_201707.txt',
 'info_pgraph_201703.txt',
 'info_pgraph_202008.txt',
 'info_pgraph_202009.txt',
 'info_pgraph_201702.txt',
 'info_pgraph_201701.txt',
 'info_pgraph_201606.txt',
 'info_pgraph_201612.txt',
 'info_pgraph_201809.txt',
 'info_pgraph_201808.txt',
 'info_pgraph_201607.txt',
 'info_pgraph_201611.txt',
 'info_pgraph_201605.txt',
 'info_pgraph_201604.txt',
 'info_pgraph_201610.txt',
 'info_pgraph_201601.txt',
 'info_pgraph_201603.txt',
 'info_pgraph_201602.txt']

## 解决文件顺序的问题

In [3]:
# def bubble(items, files):
#     length = len(items)
#     for i in range(1, length):
#         for j in range(length-i):
#             if items[j] > items[j+1]:
#                 items[j], items[j+1] = items[j+1], items[j]
#                 files[j], files[j+1] = files[j+1], files[j]
                
# items = [int(file.split('_')[-1].split('.')[0]) for file in files]
# bubble(items, files)
# files
files = sorted(files, key=lambda s: int(s.split('_')[-1].split('.')[0]))
files

['info_pgraph_201505.txt',
 'info_pgraph_201506.txt',
 'info_pgraph_201510.txt',
 'info_pgraph_201511.txt',
 'info_pgraph_201512.txt',
 'info_pgraph_201601.txt',
 'info_pgraph_201602.txt',
 'info_pgraph_201603.txt',
 'info_pgraph_201604.txt',
 'info_pgraph_201605.txt',
 'info_pgraph_201606.txt',
 'info_pgraph_201607.txt',
 'info_pgraph_201608.txt',
 'info_pgraph_201609.txt',
 'info_pgraph_201610.txt',
 'info_pgraph_201611.txt',
 'info_pgraph_201612.txt',
 'info_pgraph_201701.txt',
 'info_pgraph_201702.txt',
 'info_pgraph_201703.txt',
 'info_pgraph_201704.txt',
 'info_pgraph_201705.txt',
 'info_pgraph_201706.txt',
 'info_pgraph_201707.txt',
 'info_pgraph_201708.txt',
 'info_pgraph_201709.txt',
 'info_pgraph_201710.txt',
 'info_pgraph_201711.txt',
 'info_pgraph_201712.txt',
 'info_pgraph_201801.txt',
 'info_pgraph_201802.txt',
 'info_pgraph_201803.txt',
 'info_pgraph_201804.txt',
 'info_pgraph_201805.txt',
 'info_pgraph_201806.txt',
 'info_pgraph_201807.txt',
 'info_pgraph_201808.txt',
 'info_pgraph_201809.txt',
 'info_pgraph_201810.txt',
 'info_pgraph_201811.txt',
 'info_pgraph_201812.txt',
 'info_pgraph_201901.txt',
 'info_pgraph_201902.txt',
 'info_pgraph_201903.txt',
 'info_pgraph_201904.txt',
 'info_pgraph_201905.txt',
 'info_pgraph_201906.txt',
 'info_pgraph_201909.txt',
 'info_pgraph_201910.txt',
 'info_pgraph_201911.txt',
 'info_pgraph_201912.txt',
 'info_pgraph_202001.txt',
 'info_pgraph_202002.txt',
 'info_pgraph_202003.txt',
 'info_pgraph_202004.txt',
 'info_pgraph_202005.txt',
 'info_pgraph_202006.txt',
 'info_pgraph_202007.txt',
 'info_pgraph_202008.txt',
 'info_pgraph_202009.txt',
 'info_pgraph_202010.txt',
 'info_pgraph_202011.txt',
 'info_pgraph_202012.txt',
 'info_pgraph_202101.txt',
 'info_pgraph_202102.txt',
 'info_pgraph_202103.txt']

## 将所有的文件读取后，按列拼接好！

In [4]:
def gen(files):
    for file in files:
        df = pd.read_csv(os.path.join(path, file), sep='\t', header=None)
        if len(df.columns) > 2:
            df = df[[1, 4]].rename(columns={1: 0, 4: 1})
        yield df
df = pd.concat(gen(files))
df

                       0       1
0     2015/5/26 14:48:31   1.605
1     2015/5/26 15:36:40  1.4325
2     2015/5/26 15:42:23   1.725
3     2015/5/26 16:02:48   1.605
4     2015/5/26 16:03:42  1.6275
...                  ...     ...
4913  2021/3/17 11:01:18     NaN
4914  2021/3/17 11:06:12     NaN
4915  2021/3/17 11:11:06     NaN
4916  2021/3/17 11:16:00     NaN
4917  2021/3/17 11:20:52     NaN

[546766 rows x 2 columns]

## 解决时间格式问题

In [5]:
df[0] = pd.to_datetime(df[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546766 entries, 0 to 4917
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       546766 non-null  datetime64[ns]
 1   1       535938 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 12.5+ MB

## 将边界层数据中,问题处理下

In [6]:
def handler(s):
    if ',' in str(s):
        nums = [float(i) for i in s.split(',')]
        return sum(nums)/len(nums)
    else:
        return float(s)
df[1] = df[1].apply(handler)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546766 entries, 0 to 4917
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       546766 non-null  datetime64[ns]
 1   1       535938 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 12.5 MB

## 完成分组依据计算出来

In [7]:
df['dt'] = df[0].apply(lambda dt: datetime(dt.year, dt.month, dt.day, dt.hour))
df

                       0       1                  dt
0    2015-05-26 14:48:31  1.6050 2015-05-26 14:00:00
1    2015-05-26 15:36:40  1.4325 2015-05-26 15:00:00
2    2015-05-26 15:42:23  1.7250 2015-05-26 15:00:00
3    2015-05-26 16:02:48  1.6050 2015-05-26 16:00:00
4    2015-05-26 16:03:42  1.6275 2015-05-26 16:00:00
...                  ...     ...                 ...
4913 2021-03-17 11:01:18     NaN 2021-03-17 11:00:00
4914 2021-03-17 11:06:12     NaN 2021-03-17 11:00:00
4915 2021-03-17 11:11:06     NaN 2021-03-17 11:00:00
4916 2021-03-17 11:16:00     NaN 2021-03-17 11:00:00
4917 2021-03-17 11:20:52     NaN 2021-03-17 11:00:00

[546766 rows x 3 columns]

In [8]:
df[['dt', 1]].to_csv(r'bjc.csv')

## 分组求均值，并保存文件

In [15]:
df[['dt', 1]].groupby('dt').mean().to_excel('res.csv')